#race {
  text-align: center;
  background-color: #242021;
  height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: #a2a2a2;
}

h3 {
  font-size: 25px;
}

h2 {
  font-size: 35px;
}

h1 {
  font-size: 50px;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
button {
  background: transparent;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  width: 150px;
  padding: 5px 0px;
  margin-right: 10px;
}

#countdown {
  background: rgb(0 0 0 / 55%);
  color: white;
  font-size: 150px;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}
#race-track {
  height: 500px;
  background: rgba(36, 32, 33, 0.212);
  position: relative;
}
.racetrack-img {
  display: block;
  max-height: 100%;
  min-width: 100%;
  position: relative;
}
.finish-img {
  z-index: 2;
  display: none;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cars img {
  width: 15%;
  position: absolute;
  left: 0;
}
#car1 {
  top: 35px;
}
#car2 {
  top: 270px;
}

td {
  border: 2px solid white;
  color: #a2a2a2;
  padding: 20px;
}
.red {
  color: #ba0000;
  font-weight: bold;
}
.white {
  color: #ffebf7;
  font-weight: bold;
}

span {
  font-size: large;
}
